# Python 101
Python is a high-level, interpreted, general purpose and open source programming language (build anything). It is a dynamically typed and garbage-collected language. Python supports multiple programming paradigms.
Python was first released in 1991. With a strong community a lot of packages for data emerged. Python is a popular choice for data science and data engineering tasks.

This notebook provides a short and fast overview of the Python language with small practical exercises. The focus is on syntax, to get you minimally familiar with Python to work through the DE Accelerated content without any problems. You can skip ahead to the exercises for testing your knowledge directly. For more details around Python please refer to the [official documentation](https://www.python.org/).

## Python for calculations
Short overview of common arithmetic operators.

In [1]:
# Addition
6 + 2

8

In [2]:
# Subtraction
3 - 4

-1

In [3]:
# Multiplication
3 * 4

12

In [4]:
# Division
3 / 4

0.75

In [5]:
# Modulo
9 % 2

1

In [6]:
# Exponentiation
9 ** 2

81

## Variables
Variable names in Python (1) start with letter or underscore, (2) cannot start with a number, (3) only contain alphanumeric characters and underscores, and (4) are case-sensitive.

In [7]:
# Assign a value to a variable
count = 0
count

0

In [8]:
# Use of assignment operators
count += 1 # same as count = count + 1
count

1

In [9]:
# Multiple assignments in one line, calculating with variables
triangle_base, triangle_height = 5, 6
triangle_area = 0.5 * triangle_base * triangle_height
triangle_area

15.0

In [10]:
# Introducing the print function and the f string
first_name = 'Kim'
print(f'Hello {first_name}, how are you?')

Hello Kim, how are you?

### Exercise for variables
- Define a string variable `text` (set to string value of 'Average age').
- Define two integer variables named `age_kim` (set to 20) and `age_luca` (set to 40).
- Calculate the average age with the sum of Kim's and Lucas' age divided by two and assign the value to a variable `avg_age`.
- Use the print function to output the average age string followed by a colon, followed by the average age. Use the f string for it.

In [12]:
# Your code goes here
text = 'Average age'
age_kim = 20
age_luca = 40
avg_age = (age_kim + age_luca) / 2
print(f'{text}, {avg_age}')

Average age, 30.0

## Types and type conversion
Python has type inference (automatic detection of the data type of the expression). Common data types include Integer, Float, String and Boolean.

In [13]:
# Integer
participants = 90
type(participants)

int

In [14]:
# Float
distance = 3.5
type(distance)

float

In [15]:
# String
text = "text"
another_text = 'another text'
type(text)

str

In [16]:
# Boolean
condition = True
type(condition)

bool

In [30]:
# Convert variable to a preferred data type with e.g. int(), float(), str(), bool()
distance_as_string = str(condition)
distance_as_string = int(condition)

### Exercise for type conversion
- Covert both variables into float
- Divide `var1` by `var2` and store the result in a variable
- Convert the result variable `result` into integer
- Get the type of the result variable `result` and assign it to the type variable `type_result`
- Comment out and run the assertions to see if they pass

In [25]:
var1 = True
var2 = ".3"

# Your code goes here
result = int(float(var1) / float(var2))
type_result = type(result)

In [31]:
if (result or type_result) is None:
    print("Test did not pass! Go implement!")
else:
    assert result == 3
    assert type_result is int
    print("Test passed!")

Test passed!

## Lists
[Lists](https://docs.python.org/3/library/stdtypes.html#lists) are mutable sequences of values that can be of a single type (typical) or different types. A list itself is a type. The next sections cover the following points:
- Create a list
- Access a list
- Manipulate a list
- Copy a list
- Join lists
- Sort and reverse a list

### Create a list
A list can hold values from the (1) same type or (2) any types (including e.g. list itself).

In [32]:
# Create a list with values of the same type
items = ['avocado', 'mushrooms', 'pasta', 'tomato', 'spinach'] # or use type constructor e.g. list(('avocado','pasta')) returns ['avocado', 'pasta']
type(items)

list

In [33]:
# Create a list with lists
items_with_price = [['avocado', 2],
                    ['mushrooms', 2.5],
                    ['pasta', 1.56]]

print(type(items_with_price))
print(items_with_price)

<class 'list'>
[['avocado', 2], ['mushrooms', 2.5], ['pasta', 1.56]]

In [34]:
# Create a list with different types
some_value = 44
another_list = [3, 'hello', ['i', 5555, True], False, some_value, 4.555]

print(type(another_list))
print(another_list)

<class 'list'>
[3, 'hello', ['i', 5555, True], False, 44, 4.555]

### Access a list
Use indexing and slicing to extract a subset of values from a list.

In [37]:
# Indexing second element
items[1]

'mushrooms'

In [38]:
# Indexing last element
items[-1]

'spinach'

In [39]:
# List slicing with defining start and end index
# Start index included, end index excluded
items[3:5]

['tomato', 'spinach']

In [40]:
# List slicing with defining either start or end index
items[:3]

['avocado', 'mushrooms', 'pasta']

### Manipulate a list
There are many more ways to manipulate a list. Here are some common ones.

In [41]:
# Look at current list elements
items

['avocado', 'mushrooms', 'pasta', 'tomato', 'spinach']

In [42]:
# Changing an element
items[3] = 'apple'
items

['avocado', 'mushrooms', 'pasta', 'apple', 'spinach']

In [43]:
# Changing elements
items[:2] = ['strawberry', 'raspberry']
items

['strawberry', 'raspberry', 'pasta', 'apple', 'spinach']

In [44]:
# Adding elements
items += ['cherry', 'kale']
print(items)

items.insert(2, 'watermelon')
print(items)

items.append('pizza')
print(items)

['strawberry', 'raspberry', 'pasta', 'apple', 'spinach', 'cherry', 'kale']
['strawberry', 'raspberry', 'watermelon', 'pasta', 'apple', 'spinach', 'cherry', 'kale']
['strawberry', 'raspberry', 'watermelon', 'pasta', 'apple', 'spinach', 'cherry', 'kale', 'pizza']

In [45]:
# Deleting elements
del(items[0]) # or use remove('strawberry), pop(0)
print(items)

items.remove('pizza')
print(items)

['raspberry', 'watermelon', 'pasta', 'apple', 'spinach', 'cherry', 'kale', 'pizza']
['raspberry', 'watermelon', 'pasta', 'apple', 'spinach', 'cherry', 'kale']

In [46]:
# Clear all elements from a list
items.clear()
items

[]

### Copy a list

In [47]:
# Use list() function if you don't want to assign a reference but want to create a new list with the same values
original_items = ['apple', 'orange']
new_items = list(original_items) # or use items[:] or items.copy()
new_items

['apple', 'orange']

### Join lists

In [48]:
# Remove item from original items
del(original_items[0])

# Join two lists
joined_list = new_items + original_items
joined_list

['apple', 'orange', 'orange']

### Sort and reverse a list

In [49]:
# Sort lists
number_list = [10,100,1,0,1000]
number_list.sort()
print(number_list)

# Reverse sort
number_list.sort(reverse = True)
print(number_list)

[0, 1, 10, 100, 1000]
[1000, 100, 10, 1, 0]

In [50]:
# Reverse order of list
number_list.reverse()
number_list

[0, 1, 10, 100, 1000]

### Exercise for lists
- Create a list `numbers` with the values 9,23,35 and 2
- Delete the first value
- Alter the last two values by multiplying them by 2
- Append the numbers 15 and 50
- Sort the list in reverse order

In [73]:
# Your code goes here
numbers = [9, 23, 35, 2]
del(numbers[0])
numbers[1:3] = [numbers[1] * 2, numbers[2] * 2]
numbers += [15, 50]
numbers.sort(reverse = True)

In [74]:
if numbers is None:
    print("Test did not pass! Go implement!")
else:
    assert numbers == [70, 50, 23, 15, 4]
    print("Test passed!")

Test passed!

## Tuples, dictionaries and sets
Other common data types include the tuple, dictionary and set.

### Tuple
[Tuples](https://docs.python.org/3/library/stdtypes.html#tuples) are sequences of values that are immutable and ordered. Duplicates are allowed. Values are indexed and can be from any type.

In [82]:
tuple_example = (12, 'word', True)
type(tuple_example)

tuple

### Dictionary
[Dictionaries](https://docs.python.org/3/library/stdtypes.html#dict) are mutable collections used to store key to value pairs. Hashable values (keys) are mapped to any kind of object (values). Keys have one data type while the values can be from any type. Duplicates are not allowed.

In [76]:
dict_example = {'firstKey': 1, 'secondKey': 2, 'thirdKey': 3} # or dict(firstKey=1, secondKey=2, thirdKey=3)
type(dict_example)

dict

### Set
[Sets](https://docs.python.org/3/library/stdtypes.html#set) are unordered and un-indexed collections. Duplicates are not allowed. The items within the set are immutable but items can be removed or added. Items can be from any type.

In [83]:
set_example = {'word1', True, 34}
type(set_example)

set

## Indentation
Python uses [indentation](https://docs.python.org/3.11/reference/lexical_analysis.html#indentation) in the form of white spaces to indicate blocks of code. Indentation is therefore a must. Mixing tabs and spaces is disallowed (often spaces preferred).
[Explicit line joining](https://docs.python.org/3.11/reference/lexical_analysis.html#explicit-line-joining) (using the backslash) and [Implicit line joining](https://docs.python.org/3.11/reference/lexical_analysis.html#implicit-line-joining) (for content within parentheses, square brackets or curly braces) are additional ways to structure code (e.g. for better readability).

In [84]:
# Explicit line joining
full_list = ['a', 'b'] \
    + ['c'] \
    + ['d', 'e']

full_list

['a', 'b', 'c', 'd', 'e']

In [85]:
# Implicit line joining
another_list = ['Monday', 'Tuesday', 'Wednesday',
                'Thursday', 'Friday', 'Saturday',
                'Sunday']

another_list

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

## Functions and methods
[Functions](https://docs.python.org/3/library/stdtypes.html#functions) are reusable code that has to be invoked to run and can be defined in Python with the `def` keyword.
[Methods](https://docs.python.org/3/library/stdtypes.html#methods) are functions, either built-in methods (e.g. string methods) or class instance methods.

In [86]:
# Defining and invoking a function
def print_hello():
    print('Hello')

print_hello()

Hello

In [87]:
# Define a function with arguments/parameters and return statement
def calculate_triangle_area(base, height):
    return 0.5 * base * height

calculate_triangle_area(base = 5, height = 6)

15.0

In [88]:
# Use the help method to get more context
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

### Lambda functions
Lambdas are small anonymous functions. They are efficient for simple expressions (single line statements) and if a function should be used only once.

In [89]:
# A function defined by the def keyword
def add_two_numbers(val1, val2):
    return val1 + val2

# Equivalent lambda function
lambda_add_two_numbers = lambda a, b: a + b
lambda_add_two_numbers(4,5)

9

In [90]:
# Passing in a function as arguments
example_function = lambda a, b, func: a * func(a,b)
example_function(2, 3, lambda a, b: a + b)

10

### Map, filter and reduce
Map, filter and reduce are higher order functions. Map and filter are built-in functions. Reduce has to be imported from the functools.
- The [map](https://docs.python.org/3/library/functions.html?highlight=map#map) function takes a function and iterables as arguments. The function is applied to every element in an iterable (e.g. on each element of a list).
- The [filter](https://docs.python.org/3/library/functions.html?highlight=filter#filter) function filters elements based on a function. The output contains the elements for which the applied passed in function returned true.
- The [reduce](https://docs.python.org/3/library/functools.html?highlight=reduce#functools.reduce) function applies a provided function on the provided iterables. A single value is returned.

In [91]:
# Map with map(function, iterables)
example_list = [1,2,3,4]

list(map(lambda a: a-1, example_list))

[0, 1, 2, 3]

In [92]:
# Filter with filter(function, iterables)
example_list = [1,2,3,4]

list(filter(lambda a: a>=2, example_list))

[2, 3, 4]

In [93]:
# Reduce with reduce(function, iterables)
from functools import reduce

example_list = [1,2,3,4]

reduce(lambda a,b: a+b, example_list)

10

### Exercises for functions
1 Create a function `join_two_lists` that joins two lists, then sorts them and returns the result.
2 Create a function `retrieve_odd_numbers` that takes in a list and returns a list with only odd numbers.
3 Create a lambda function `calculate_cuboid_volume` that calculates the volume of a cuboid (height times width times depth).

In [101]:
# 1 Your code goes here
join_two_lists = lambda list1, list2: sorted(list1 + list2)

In [100]:
def test_join_two_lists():
    if join_two_lists is None:
        print("Test did not pass! Go implement!")
    else:
        list1 = [5, 4]
        list2 = [3, 9]
        assert join_two_lists(list1, list2) == [3, 4, 5, 9]
        print("Test passed!")

test_join_two_lists()

Test passed!

In [109]:
# 2 Your code goes here
retrieve_odd_numbers = lambda number_list: list(filter(lambda a: a % 2 != 0, number_list))

In [110]:
def test_retrieve_odd_numbers():
    if retrieve_odd_numbers is None:
        print("Test did not pass! Go implement!")
    else:
        nums = [5, 6, 4, 2, 1]
        assert retrieve_odd_numbers(nums) == [5, 1]
        print("Test passed!")

test_retrieve_odd_numbers()

Test passed!

In [111]:
# 3 Your code goes here
calculate_cuboid_volume = lambda height, width, depth: height * width * depth

In [112]:
def test_calculate_cuboid_volume():
    if calculate_cuboid_volume is None:
        print("Test did not pass! Go implement!")
    else:
        height = 2
        width = 5
        depth = 2
        assert calculate_cuboid_volume(height, width, depth) == 20
        print("Test passed!")

test_calculate_cuboid_volume()

Test passed!

## Modules and packages
[Modules](https://docs.python.org/3/tutorial/modules.html) can be .py files with various functions and variables.
[Packages](https://docs.python.org/3/tutorial/modules.html#packages) are a collection of modules with an init file. For installation of packages [pip](https://pypi.org/project/pip/) can be used.

In [113]:
# Import a module
import sys

# Use dir function to find out what is defined within a module
dir(sys)

['__breakpointhook__',
 '__displayhook__',
 '__doc__',
 '__excepthook__',
 '__interactivehook__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__stderr__',
 '__stdin__',
 '__stdout__',
 '__unraisablehook__',
 '_base_executable',
 '_clear_type_cache',
 '_current_exceptions',
 '_current_frames',
 '_debugmallocstats',
 '_framework',
 '_getframe',
 '_getframemodulename',
 '_git',
 '_home',
 '_setprofileallthreads',
 '_settraceallthreads',
 '_stdlib_dir',
 '_xoptions',
 'abiflags',
 'activate_stack_trampoline',
 'addaudithook',
 'api_version',
 'argv',
 'audit',
 'base_exec_prefix',
 'base_prefix',
 'breakpointhook',
 'builtin_module_names',
 'byteorder',
 'call_tracing',
 'copyright',
 'deactivate_stack_trampoline',
 'displayhook',
 'dont_write_bytecode',
 'exc_info',
 'excepthook',
 'exception',
 'exec_prefix',
 'executable',
 'exit',
 'flags',
 'float_info',
 'float_repr_style',
 'get_asyncgen_hooks',
 'get_coroutine_origin_tracking_depth',
 'get_int_max_str_digits',
 'getallocatedblocks',
 'getdefaultencoding',
 'getdlopenflags',
 'getfilesystemencodeerrors',
 'getfilesystemencoding',
 'getprofile',
 'getrecursionlimit',
 'getrefcount',
 'getsizeof',
 'getswitchinterval',
 'gettrace',
 'getunicodeinternedsize',
 'hash_info',
 'hexversion',
 'implementation',
 'int_info',
 'intern',
 'is_finalizing',
 'is_stack_trampoline_active',
 'last_traceback',
 'last_type',
 'last_value',
 'maxsize',
 'maxunicode',
 'meta_path',
 'modules',
 'monitoring',
 'orig_argv',
 'path',
 'path_hooks',
 'path_importer_cache',
 'platform',
 'platlibdir',
 'prefix',
 'ps1',
 'ps2',
 'ps3',
 'pycache_prefix',
 'set_asyncgen_hooks',
 'set_coroutine_origin_tracking_depth',
 'set_int_max_str_digits',
 'setdlopenflags',
 'setprofile',
 'setrecursionlimit',
 'setswitchinterval',
 'settrace',
 'stderr',
 'stdin',
 'stdlib_module_names',
 'stdout',
 'thread_info',
 'unraisablehook',
 'version',
 'version_info',
 'warnoptions']

In [114]:
# Install a package in the notebook
!{sys.executable} -m pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [115]:
# Import with the import keyword
import numpy

# Make use of the module
numpy.array([11,22])

array([11, 22])

In [116]:
# Import with different name
import numpy as np

np.array([11,22])

# Or import only a part
# from numpy import array
# array([11,22])

# Submodules can be referenced with a dot (.)

array([11, 22])

## Conditions and if-else statement
This section introduces conditions and the [if-else statement](https://docs.python.org/3/reference/compound_stmts.html#the-if-statement).

In [117]:
# Define variables
x = 3
y = 5
z = 7

### Conditions

In [118]:
# Equals
x == y

False

In [119]:
# Not equals
condition = (x != y)
print(condition)

True

In [120]:
# Less/Greater than AND less/greater than or equal to
print(x < y)
print(x <= y - 2)
print(x > y)
print(x >= y - 2)

True
True
False
True

In [121]:
# and, or, not - keywords
print(x<y and x<z)
print(x<y or x>z)
print(not x<y)

True
True
False

### If-else statement

In [122]:
# If-else statement
if x > y:
    print('x is greater than y')
elif x > z:
    print('x is greater than z but not greater than y')
else:
    print('y and z are both greater than x')

y and z are both greater than x

In [ ]:
# Ternary operators

# Short if
if x < y: print('x is smaller than y')

# Short if-else
print('x is greater than y') if x > y else print('y is greater or equal to x')

### Exercise for conditions
Create a function `is_negative` that returns true if the number is smaller than 0 else false. Try both with and without ternary operator.

In [126]:
# Your code goes here
is_negative = lambda number: number < 0

In [127]:
def test_is_negative():
    if is_negative is None:
        print("Test did not pass! Go implement!")
    else:
        assert is_negative(-1) == True
        assert is_negative(0) == False
        assert is_negative(1) == False
        print("Test passed!")

test_is_negative()

Test passed!

## Loops
There are two common loops in Python, the [for loop](https://docs.python.org/3/reference/compound_stmts.html#the-for-statement) and the [while loop](https://docs.python.org/3/reference/compound_stmts.html#the-while-statement). The for statement is used to iterate over iterables (e.g. strings, lists...). The while statement is used for repeating code blocks until a defined condition turns false.

This section also introduces the [range type](https://docs.python.org/3/library/stdtypes.html?highlight=range#range) and [list comprehensions](https://docs.python.org/3/tutorial/datastructures.html?highlight=list%20comprehension#list-comprehensions).

### Range function

In [128]:
# Define range that starts at 3 and stops before 20 with a step of 2
example_range = range(3,20,2)

# Print the type
print(type(example_range))

# Convert the range into a list
list(example_range)

<class 'range'>

[3, 5, 7, 9, 11, 13, 15, 17, 19]

### for statement

In [129]:
# Iterate through a list
example_list = ['flower', 'tree', 'stone']
for element in example_list:
    print(element)

flower
tree
stone

In [130]:
# Iterate using a range
for element in range(6):
    if element % 2 == True: print(element)

1
3
5

### while statement

In [131]:
number = 4
while number >= 0:
    print(number)
    number -= 2

4
2
0

### List comprehensions
List comprehension are used to create a new list out of an existing list. An expression and a condition can be used to define the new list. The old list will be unchanged.

new_list = [expression for element in iterable if condition]

In [132]:
old_list = list(range(3))
print(old_list)

new_list = [element + 100 for element in old_list if element < 2]
print(new_list)

[0, 1, 2]
[100, 101]

### Exercises
Create a function `sum_of_odd_numbers_in_range` that takes in a start and end parameter as integers and calculates the sum out of the odd integer values of the range defined by the start and end parameter.

In [136]:
# Your code goes here
sum_of_odd_numbers_in_range = lambda init, end: sum(number for number in range (init, end) if number % 2 == True)

In [137]:
def test_sum_of_odd_numbers_in_range():
    if sum_of_odd_numbers_in_range is None:
        print("Test did not pass! Go implement!")
    else:
        assert sum_of_odd_numbers_in_range(2,4) == 3
        assert sum_of_odd_numbers_in_range(-3,4) == 0
        assert sum_of_odd_numbers_in_range(-4,2) == -3
        print("Test passed!")

test_sum_of_odd_numbers_in_range()

Test passed!

## Pattern matching
For structural pattern matching, the [match statement](https://docs.python.org/3/reference/compound_stmts.html#the-match-statement) is used in Python, since version 3.10.

In [138]:
status = 200

match status:
    case 200:
        print('OK')
    case 500:
        print("Internal Server Error")
    case _:
        print("Status code not known")

OK

## File handling
File handling, such as read and write, operations are supported by Python.
- Before any operation can be performed the [`open` function](https://docs.python.org/3.11/library/functions.html?highlight=open#open) is used to load in files. A mode has to be specified to define how the file should be used (e.g. `r` for read and `w` for write).
- Other useful functions include `read`, `write` and `append` functions.
- Use the `close` function to free up resources immediately if not using the `with` keyword.
- With the import of the os module `rename` (renaming a file) and `remove` (deleting a file) functions can be used.

More on [reading and writing files](https://docs.python.org/3.11/tutorial/inputoutput.html#reading-and-writing-files).

In [140]:
# If you started jupyter notebook in the src folder you should be able to see a sample.txt file next to the python101.ipynb file in your tree under localhost:<port>/tree

# Open a txt file for reading operations
file = open(file='sample.txt', mode='r')

# Print each line of the file
for line in file:
    print(line)

# Terminate all resources if not using the with keyword (see below)
file.close()

This is a sample file.

There is nothing interesting here.

Presentation purpose.

In [141]:
# Create a file
f = open('file.txt','w')

f.write("Write something. ")
f.write("Write more into the file. ")

f.close()

# You should be able to see a new file named file.txt under your tree under localhost:<port>/tree

In [142]:
# Append to a file
f = open('file.txt','a')

f.write("Append something.")

f.close()

# You can check if the file.txt has more content now

In [143]:
# Rename a file
import os

os.rename('file.txt', 'fancy.txt')

# You should be able to see that the file previously named file.txt is now fancy.txt under your tree under localhost:<port>/tree

In [144]:
# Delete a file
os.remove('fancy.txt')

# The fancy.txt file should be removed and not visible anymore in your tree

### With statement
Using the [with statement](https://docs.python.org/3/reference/compound_stmts.html#the-with-statement) is considered a good practice for file handling. The file is closed and frees up resources after the code block is executed.

In [145]:
with open("sample.txt") as file:
    text = file.read()

print(text)

This is a sample file.
There is nothing interesting here.
Presentation purpose.

In [ ]:
# Check if file was closed automatically (no execution of the close function required)
file.closed

### Try statement
The [try statement](https://docs.python.org/3/reference/compound_stmts.html#the-try-statement) is used to define how exceptions are handled for a group of statements.

In [146]:
# Try to read in a file and print the error if not possible
try:
    with open('content.txt', 'r') as file:
        contents = file.read()
except IOError as e:
    print(e)

[Errno 2] No such file or directory: 'content.txt'

### Exercises for file handling
Play around by creating (1) a function that creates a txt file and (2) another function that appends more text to the already existing file. (3) Create a function that deletes the file.

Use the with keyword and handle exceptions.

In [153]:
# Your code goes here
import os

f = open('file.txt', 'w')
f.close()

f = open('file.txt', 'a')
f.write('Hello world')

os.remove('file.txt')

## Optional typesystem
Python is a dynamically typed language. The actual types are inferred during code execution. The module [typing](https://docs.python.org/3/library/typing.html) introduces runtime support for type hints. Reference for a [typing cheat sheet](https://mypy.readthedocs.io/en/stable/cheat_sheet_py3.html).

Dynamic typing gives a lot of flexibility, which also comes with some drawbacks. Type annotations become more common as they serve as documentation purpose, better error handling etc. Read more about it [here](https://cerfacs.fr/coop/python-typing). User defined types are possible.

It is important to know that the types are annotations and are ignored by the Python interpreter. The potential of type annotations can be used by leveraging type checkers, linters etc.

In [158]:
# Some example usage for the optional typesystem
my_number: int = 3
my_string: str = 'hello'
my_list: list[float] = [1.3, 2.4]

def say_hello(name: str) -> str:
    return 'hello ' + name

def print_hello() -> None:
    print('hello')

### Exercises for optional typesystem
You can start playing around with it. E.g. pick an exercise from the function and methods section and implement the code using the optional typesystem.

In [166]:
# Your code goes here

def calculate_triangle_area(base: int, height: int):
    return 0.5 * base * height

base: int = 5
height: int = 6

calculate_triangle_area(base, height)

15.0

## [Optional] Classes
Python classes are available for bundling data and functionality. "Creating a new class creates a new type of object, allowing new instances of that type to be made. Each class instance can have attributes attached to it for maintaining its state.". Read [more about classes](https://docs.python.org/3.11/tutorial/classes.html?highlight=object%20oriented%20programming) (e.g. inheritance...).

In [167]:
# Create a class object with two attributes (data, method)
class ExampleClass:
    class_value = 0
    def add_one(self):
        self.class_value += 1

In [168]:
# Reference class attributes
print(ExampleClass.class_value)
print(ExampleClass.add_one)

0
<function ExampleClass.add_one at 0x7ef309710040>

In [169]:
# Instantiate class
exampleClass = ExampleClass()

# Set class value
exampleClass.class_value = 5
exampleClass.add_one()

print(exampleClass.class_value)

6

In [170]:
# class_value is a class variable shared by all instances
# Defining an init function for a class introduces variables that are unique to each instance
class AnotherClass:
    class_value = 0
    def __init__(self, instance_value):
        self.instance_value = instance_value

# Instantiate classes with init function
first_class = AnotherClass('instance value 1')
second_class = AnotherClass('instance value 2')

print(first_class.class_value == second_class.class_value) # shared class value
print(first_class.instance_value == second_class.instance_value) # unique instance value

True
False

## [Optional] Concurrent execution
[Concurrent execution](https://docs.python.org/3/library/concurrency.html) handles multiple active processes at the same time.

[Threading](https://docs.python.org/3/library/threading.html) enables concurrent execution by running multiple threads, switching between tasks, but not running in parallel.
Initially there is no multi threading in the CPython implementation due to the [global interpreter lock](https://docs.python.org/3/glossary.html#term-global-interpreter-lock) and only one thread executes the code. Code runs on a default thread called the main thread. Threads run in a shared memory space and are a good option for CPU bound processing and I/O bound task execution.
Short video introduction to [Python threading](https://www.youtube.com/watch?v=A_Z1lgZLSNc).

[Multiprocessing](https://docs.python.org/3/library/multiprocessing.html) enables better use of computational resources of multicore machines and overcomes the global interpreter lock. Multiprocessing enables true parallelism. Processes have separate memory space and are a good option for I/O bound applications.

## [Optional] Other useful modules and packages
To find modules for Python browse at https://pypi.org

Useful modules for Python in the data space include the following (good to have heard about them):
  - [Regex](https://docs.python.org/3.11/library/re.html?highlight=rx) for regular expression matching operations.
  - [Math](https://docs.python.org/3.11/library/math.html?highlight=math#module-math) for mathematical functions.
  - [NumPy](https://numpy.org/devdocs/index.html) is a fundamental package for scientific computing. It provides multidimensional arrays and the capability to perform fast operations (mathematical, statistical, algebraic etc.) on them.
  - [Pandas](https://pandas.pydata.org/) is used for data analysis and manipulation. Fast and easy to use. Exploratory analysis is a very good usecase.
  - [Matplotlib](https://matplotlib.org/) and [Seaborn](https://seaborn.pydata.org/) are both excellent visualisation tools.
  - [scikit-learn](https://scikit-learn.org/stable/) is a machine learning library providing implementations for common algorithms for predictive data analysis.