# [WIP] Python 101
Python is a high-level, general purpose and open source programming language (build anything). It is a dynamically typed and garbage-collected language. Python supports multiple programming paradigms.
Python was first released in 1991. With a strong community a lot of packages for data emerged. Python is a popular choice for data science and data engineering tasks.

This notebook provides a short and fast overview of the Python language with small practical exercises. The focus is on syntax, to get you minimally familiar with Python to work through the DE Accelerated content without any problems. For more details around Python please refer to the official documentation: https://www.python.org/

## Python for calculations
Short overview of common arithmetic operators.

In [182]:
# Addition, subtraction
print(3 + 4)
print(3 - 4)

7
-1

In [183]:
# Multiplication, division
print(3 * 4)
print(3 / 4)

12
0.75

In [184]:
# Modulo
print(9 % 2)

1

In [185]:
# Exponentiation, floor division
print(9 ** 2)
print(9 // 2)

81
4

## Variables
Variable names in Python (1) start with letter or underscore, (2) cannot start with number, (3) only contain alphanumeric characters and underscores, and (4) are case-sensitive.

In [186]:
# Assign a value to a variable
count = 0
count

0

In [187]:
# Use of assignment operators
count += 1 # same as count = count + 1
count

1

In [188]:
# Multiple assignments in one line, calculating with variables
triangle_base, triangle_height = 5, 6
triangle_area = 0.5 * triangle_base * triangle_height
triangle_area

15.0

## Types and type conversion
Python has type inference (automatic detection of the data type of the expression). Common data types include Integer, Float, String and Boolean.

In [189]:
participants = 90
type(participants)

int

In [190]:
distance = 3.5
type(distance)

float

In [191]:
text = "text"
another_text = 'another text'
type(text)

str

In [192]:
condition = True
type(condition)

bool

In [193]:
# Convert variable to a preferred data type with e.g. int(), float(), str(), bool()
distance_as_string = str(condition)
distance_as_string

'True'

## Lists
Lists are collections of values. They can contain any types and also different types. A list itself is a type.

In [194]:
# Create a list with string values
items = ['avocado', 'mushrooms', 'pasta', 'tomato', 'spinach']
type(items)

list

In [195]:
# Create a list with lists
items_with_price = [['avocado', 2],
                    ['mushrooms', 2.5],
                    ['pasta', 1.56]]
print(type(items_with_price), items_with_price)

# Create a list with different types
some_value = 44
another_list = [3, 'hello', ['i', 5555, True], False, some_value, 4.555]
print(type(another_list), another_list)

<class 'list'> [['avocado', 2], ['mushrooms', 2.5], ['pasta', 1.56]]
<class 'list'> [3, 'hello', ['i', 5555, True], False, 44, 4.555]

In [196]:
# Access the list

# Indexing
print(items[1]) # second element
print(items[-1]) # last element

# List slicing
print(items[3:5]) # start index included, end excluded
print(items[:3]) # first 3 elements

mushrooms
spinach
['tomato', 'spinach']
['avocado', 'mushrooms', 'pasta']

In [197]:
# Manipulating the list
print(items)

# Changing an element
items[3] = 'apple'
print(items)

# Changing elements
items[:2] = ['strawberry', 'raspberry']
print(items)

# Adding elements
items += ['cherry', 'kale']
print(items)

# Deleting elements
del(items[0])
print(items)

['avocado', 'mushrooms', 'pasta', 'tomato', 'spinach']
['avocado', 'mushrooms', 'pasta', 'apple', 'spinach']
['strawberry', 'raspberry', 'pasta', 'apple', 'spinach']
['strawberry', 'raspberry', 'pasta', 'apple', 'spinach', 'cherry', 'kale']
['raspberry', 'pasta', 'apple', 'spinach', 'cherry', 'kale']

In [198]:
# Use list() function if you don't want to assign a reference but want to create a new list with the same values
new_items = list(items) # or use items[:]

## Other common data types
Tuples, dictionaries and sets.